.h1 {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 4.43rem;
	line-height: 0.9;
	letter-spacing: -0.02em;
	color: #fff;
}

.h2 {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 5.25rem;
	line-height: 0.9;
	letter-spacing: -0.02em;
	color: #fff;
}
.h3 {
}

.h4 {
}
